body {
  background-image: url(https://s1.1zoom.me/b6259/894/Salads_Fruit_Blueberries_Strawberry_Wood_planks_536477_3840x2160.jpg);
  background-size: cover;
}
html {
  position: fixed;
  width: 100%;
}
